{% extends "::layout.html.twig" %}

{% block title %}Confirmation - {{ parent() }}{% endblock  %}

{% block body %}
	<h1>Confirmation de paiement</h1>
	<hr>
	<div class="alert alert-success"> 
		<p>Votre paiement a bien été pris en compte ! Merci de votre achat. <br>
		Vous recevrez sous peu un <strong>e-mail</strong> contenant <strong>votre facture ainsi que les billets</strong>.
		A bientôt au musée du Louvre !</p>
	</div>
{% endblock %}