{# Page d'accueil du site #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1>Bienvenue sur le site de réservation de billets du Louvre !</h1>
	<hr>
	<div class="well">
		<p>Vous pourrez ici immédiatement acheter vos places pour le célèbre musée du Louvre :</p>
		<ul>
			<li>Choisissez le jour de votre réservation  <span class="glyphicon glyphicon-ok"></span></li>
			<li>Sélectionnez le nombre de billet(s) que vous voulez  <span class="glyphicon glyphicon-ok"></span></li>
			<li>Payez de façon sécurisé en quelques clics  <span class="glyphicon glyphicon-ok"></span></li>
			<li>Recevez directement vos billets <span class="glyphicon glyphicon-ok"></span></li>
		</ul>
	</div>
	<a class="btn btn-warning" href="#" id="btnAchatAccueil">
		J'achète mon billet
	</a>
{% endblock %}
