/*Général*/

body {
	font-family: 'Open Sans', 'Verdana', 'Arial', sans-serif;
	font-size: 20px !important;
	background-color: #eaeaea !important;
	color: black !important;
}

a {
	text-decoration: none !important;
}

/*Header */

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 60px;
  padding-left: 80px;
  padding-bottom: 18px;
  width: auto;
}

.navbar-right {
	padding-right: 80px;
}

#nav1 {
	background-color: #E6B020;
	margin-bottom: 0;
}


#titre-logo {
	display: inline-block;
	font-size: 30px;
	color: black;
	text-decoration: none;
}

/*Centre*/

.container {
	background-color: white;
	color: black !important;
	min-height: 760px;
}

h1 {
	margin-top: 40px;
	text-align: center !important;
}

#btnAchatAccueil {
	display: block;
	margin: auto;
	margin-top: 70px;
	font-size: 30px;
}

/* Page contact */

#contactSubmit {
	display: block;
	margin: auto;
	font-size: 25px;
	margin-top: 50px;
}

#contactMessage {
	margin-top: 40px;
}

#contactMessage > textarea {
	height: 170px;
}

.help-block {
	color: #a94442;
}

/*Footer*/
footer {
   position:static;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#565656;
   color: #eaeaea;
}

footer > * {
	padding-left: 80px;
}
